.dashboardContainer {
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--fondo);
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 2rem;
}


.title {
  color: var(--blanco);
  text-align: left; /* fuerza alineación */
  margin-bottom: 20px;
}

.subtitle {
  margin: 0 0 20px 0;
  color: var(--blanco);
  text-align: left; /* fuerza alineación */
}


.estadisticas {
  background-color: transparent;
  width: 100%;
  margin: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.caja {
  background-color: var(--cajas);
  border:  1px solid rgb(32, 32, 32);
  padding: 40px 60px;
  border-radius: 10px;
  color: var(--blanco);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.number {
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.dos {
  color: var(--verde);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.tres {
  color: var(--naranja);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cuatro {
  color: var(--rojo);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
}

.infoSecundaria {
  display: flex;
  gap: 20px;
  align-items: stretch; /* estira hijos a misma altura */
}

.resumen {
  background-color: var(--cajas);
  flex: 2; /* Que use todo el espacio disponible */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye las cajas equitativamente */
  gap: 12px;
}

.caja2 {
  background-color: var(--fondo);
  border-radius: 10px;
  padding: 20px 30px;
  color: var(--blanco);
  flex: 1; /* Hace que cada caja crezca igual */
  display: flex;
  align-items: center; /* Centra contenido verticalmente */
  font-weight: 700;
}

.containerGrafico {
  background-color: var(--cajas);
  flex: 1; /* Mismo peso que .resumen */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grafico {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    #d2d2d2 0% 40%,
    #7d7d7d 40% 70%,
    #484848 70% 100%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subtitle{
  color: var(--blanco);
}

.header {
  text-align: left; /* alinea todo el bloque */
}

