.image-upload-container {
  padding: 20px;
  text-align: center;
}

.image-viewer img {
  max-width: 400px;
  max-height: 300px;
  margin: 10px 0;
}

.navigation, .classification {
  margin: 10px;
}

button {
  margin: 0 5px;
  padding: 8px 12px;
}

.Body{
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(82, 82, 82);
}