body{
  height: 100vh; 
  margin: 0; 
  font-family: sans-serif;
}

h1{
  color: var(--blanco);
  padding: 30px 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer{
  background-color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 20em;
  border-radius: 20px;
  padding: 40px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 20em;
  gap: 1em;
}

input{
  max-width: 20em;
  height: 3em;
  background-color: var(--blanco) ;
  border: none;
  border-radius: 10px;
  padding: 0 20px;
}

input::placeholder{
color: black;
font-weight: 500;
}

button{
  width: 10em;
  height: 3em;
  background-color: var(--color-primario);
  color: var(--blanco);
  border: none;
  margin-top: 1em;
  border-radius: 10px;
  text-transform: uppercase;
}

button:hover{
  background-color: var(--color-primario-hover);
  cursor: pointer;
}

h2{
  margin-bottom: 2em;
  text-transform: uppercase;
}