/* .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-family: Arial, sans-serif;
 
}

.login-container h2 {
  margin-bottom: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 300px;
  font-size: 1rem;
}

.login-container button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
} */

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0; 
}

.login-container{
  background-color:#A2A2A2;
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 28em;
  font-family: sans-serif;
  border-radius: 20px;
  padding: 30px;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 20em;
  gap: 0.5em;
}

.login-form input{
  max-width: 20em;
  height: 2em;
  background-color: #D9D9D9 ;
  border: none;
}

.login-form input::placeholder{
color: black;
font-weight: 500;
}

.login-form button{
  width: 10em;
  height: 3em;
  background-color: #606060;
  color: #fff;
  border: none;
  margin-top: 1em;
}

.login-container h2{
  margin-bottom: 2em;
}