.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cajas);
  padding: 10px 40px;
  border-bottom: 1px solid rgb(32, 32, 32);
  height: 70px;
}

/* Logo a la izquierda */
.logo {
  display: flex;
  align-items: center;
}

.nombreLogo {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

/* Contenedor de la parte derecha */
.derecha {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Botones (principal + historial) */
.botones {
  display: flex;
  align-items: center;
  gap: 15px;
}

.historialLink {
  display: inline-block;
  padding: 14px 46px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;

  /* Doble fondo: fondo real + borde degradado */
  border: 2px solid transparent;
  background-color:transparent;
  background-origin: border-box;
  border: var(--gris-oscuro) 2px solid;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.historialLink svg {
  color: var(--gris-medio);
  flex-shrink: 0;
}


/* Texto degradado con span interno */
.historialLink span {
  /* background: linear-gradient(325deg, #007BFF, #61DAFF);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--gris-medio);
}

.historialLink:hover{
  background-color:#24252c;
  border: #6d6d6d 2px solid;
}





.historialLink:hover {
  background-color: rgba(236, 236, 236, 0.1);
}

/* Perfil */
.porfile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.porfile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.infoPorfile p {
  margin: 0;
  font-weight: 500;
}

.rol {
  font-size: 0.85rem;
  color: var(--gris-claro);
  background-color: var(--color-primario);
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
}

.rol:hover{
  background-color: var(--color-primario-hover);
  transition: all 0.4s ease;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.nombreLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.logoImg {
  height: 40px;
  width: auto;
}

