.sidebar {
  width: 200px;
  background-color: #a2a2a2;
  color: white;
  padding: 1rem;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebarButton{
    background-color: hsl(0, 0%, 38%);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
